.shop{
    border: 1px solid red;
    background-color: aquamarine;
    
}
.login{
    border: 1px solid red;
    background-color: aquamarine;
}
.products{
    border: 1px solid red;
    background-color: aquamarine;
}
.shoppingcart{
    border: 1px solid red;
    background-color: aquamarine;
}